extends ../views/layout

block append content

    if tasks.length != 0
        table
            thead
                tr
                    th= __("Tytuł")
                    th= __("Opis")
                    th= __("Status")
                    th= __("Data utworzenia")
                    th
                    th
            tbody
                - for (var i in tasks) {
                    tr
                        td #{tasks[i].title}
                        td #{tasks[i].desc}
                        td= __(tasks[i].status)
                        td #{tasks[i].created}
                        td 
                            a.edit_action(href='/editTask?id=#{tasks[i].id}')#editTaskButton= __("edytuj")
                        td
                            a.delete_action(href='/deleteTask?id=#{tasks[i].id}')#deleteTaskButton= __("usuń")
                - }
    else
        p= __("Nie masz żadnych zadan.")
    a(id='new_task', href='/addTask')= __("Dodaj nowe zadanie")
